langgraph
langgraph-prebuilt
langgraph-sdk
langgraph-checkpoint-sqlite
langsmith
langchain-community
langchain-core
langchain-openai
langgraph-checkpoint-mysql[aiomysql] 
notebook
tavily-python
wikipedia
trustcall
langgraph-cli[inmem]
ipykernel
jupyterlab
mlflow[extras] 
pymysql
mysql-connector-python
uvicorn
nest_asyncio